<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel='stylesheet' th:href="@{css/global.css}">
</head>
<body>
	<header class="header-main" th:fragment="default">
	<!--<img th:src="@{images/logofini.png}"/>-->
	<!--<img th:src="@{images/logofini2.png}" style="max-width: 300px; max-height: 150px;"/>-->
	<a th:href="@{/home}" class="button">HOME</a>
	<a th:href="@{/rejoindre}" class="button">Partie rapide</a>
	<a th:href="@{/home}" class="button">Profil</a>
	<a th:href="@{/ami}" class="button">Amis</a>
	<!--<p th:text="${settings.title}"></p >-->
	</header >
</body>
</html >